<a href="https://colab.research.google.com/github/malihasiddique433/calculator/blob/master/Day%201%20Learning%20Basics%20of%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **VARIABLE NAMING 1**

In [43]:
# Right Variable Declaration
name_students = 25

In [44]:
total_sales = 1000.50

In [45]:
student_name = "AI"

In [46]:
# Print Variable Values
print(name_students)

25

In [47]:
# Print Total Sales
print(total_sales)

1000.5

In [48]:
# Print Student Case
print(student_name)

AI

In [49]:
# Wrong Declaration of Variable
2nd_student= "Alice"

SyntaxError: invalid decimal literal (ipython-input-1335536631.py, line 2)

In [ ]:
int num=100

**OPERATORS**

In [ ]:
1. (+) addition
2. (-) subtraction
3. (/) division
4. (**) Exponantiation Power
5. (%) Modulus (reminder after division)
6. Comparison operators are discussed later
7. Python has incorporated operators like +*,but ++(or-) donot work in Python

In [50]:
#Multiply two Number
print(3*4)

12

In [51]:
#Display square of Number
print(3**2)

9

In [52]:
# Calculate the remainder
print(16%5)

1

In [56]:
# Divide two number
a = 5.0/10.0
print(a)

0.5

In [57]:
# Calculate the two quotient
b=11//4
print(b)

2

# **Simple Program to Calculate Area of Rectangle**

area of rectangle= length*height

In [58]:
length= 2.5
height= 3.5
area=length*height
print(area)

8.75

# **Adding two Integer**

In [60]:
num1 = 5
num2 = 2
sum= num1 + num2
print(sum)

7

# **Task - 02**
1. Create a simple python program to swap variables using
three variables
2. Create a simple python pogram to swap variables using
two variables

In [62]:
#Initialize three variables
a=10
b=20
c=30
print(f"before swapping: a = {a}, b = {b}, c = {c}")

# Use a temporary variable to facilitate the swap
temp = a  # Store the original value of 'a' in 'temp'
a = c     # Assign the value of 'c' to 'a'
c = b     # Assign the value of 'b' to 'c'
b = temp
print(f"After swapping: a = {a}, b = {b}, c = {c}")

before swapping: a = 10, b = 20, c = 30
After swapping: a = 30, b = 10, c = 20

In [ ]:
## Next Level Program
# Initialize two variables
var1 = 10
var2 = 20

print(f"Before swapping: var1 = {var1}, var2 = {var2}")

# Swap the variables using tuple assignment
var1, var2 = var2, var1

print(f"After swapping: var1 = {var1}, var2 = {var2}")

In [ ]:
# Initialize two variables
variable_a = 5
variable_b = 10

print(f"Before swapping: variable_a = {variable_a}, variable_b = {variable_b}")

# Use a temporary variable to swap the values
temp = variable_a
variable_a = variable_b
variable_b = temp

print(f"After swapping: variable_a = {variable_a}, variable_b = {variable_b}")